<% provide(:title, 'About') %>
  <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
    <div class="breadcrumbs-v2-in">
      <h1>About US</h1>
    </div>  
  </div>  
  
  <div class="container content">
    <div class="row col-md-8 col-md-offset-2">
      <div class="title-box-v2">
        <h2>About <span class="color-green">Alaya</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    
      <div class="tag-box tag-box-v3">
        <p><span class="dropcap-bg">A</span>established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem, Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
        <hr>
        <p><span class="dropcap-bg">B</span> passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>           
      </div>

      <div class="shadow-wrapper">
        <blockquote class="hero box-shadow shadow-effect-2">
          <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscing"</em></p>
          <small><em>Etiam porta sem malesuada</em></small>
        </blockquote>
      </div>
    </div>
  </div>