<% provide(:title, 'About') %>
  <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
    <div class="breadcrumbs-v2-in">
      <h1>About CareForMe</h1>
    </div>  
  </div>  
  
  <div class="container content">
    <div class="row col-md-8 col-md-offset-2">
      <div class="title-box-v2">
       <h2>About <span class="color-green">CareForMe</span></h2>
        <p>CareForMe is an online platform where moms can book, schedule and pay for licensed lactation consultant and massage services at home. </p>
      </div>
    <div class="tag-box tag-box-v3">
        <h2 style="margin-top: -35px;"><center><em><strong>Our Story</strong></em></center></h2>
        <p><!--<span class="dropcap-bg">The Story</span>-->When I was pregnant with my baby, I prepared a lot for labor. I just figured things would be smooth after the baby arrived. Boy, was I wrong! No one prepared me for the challenges of breastfeeding and for the body aches and sleep deprivation that followed. I needed help. Where was I to go? The lactation specialist at my doctor’s office was booked for 2 weeks straight. But I needed to consult someone NOW, before my next feeding! I didn’t want to get dressed, dress the baby, pack a diaper bag and head out to get help! I wanted it at home, right where it was convenient. Where was I to look? </p>
        <br>
        <p>6 months later, CareForMe was born. CareForMe is a safe place where moms can search and book sessions from board certified lactation consultants and registered pregnancy massage therapists. It’s fast, easy and convenient. I believe a new mom’s precious time is better spent doing other things than to spend hours searching online. New moms also do better with personalized service rather than video consultations. Our professionals are loving, caring and passionate about their work. Go ahead and book a session now! </p>
        
        <!--
        <hr>
        <p><span class="dropcap-bg">B</span> passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>-->          
      </div>

      <!--<div class="shadow-wrapper">
        <blockquote class="hero box-shadow shadow-effect-2">
          <p><em></em></p>
          <small><em>Etiam porta sem malesuada</em></small>
        </blockquote>
      </div>-->
    </div>
  </div>