<% provide(:title, 'Alert Me When Launch') %>
  
  <div class="container content">
    
    <div class-"row">
      <div class="col-md-6 col-md-offset-3">
        
        <div class="headline">
          <h2>Thank you!</h2>
        </div>
        
        <p class="lead">Your interest is great news! We are excited to get in your area soon!</p>
        
        <br><br>
      </div>
    </div>
  </div>