<% provide(:title, 'Contact') %>
  <div class="breadcrumbs-v2 contact-breadcrumb margin-bottom-20">
    <div class="breadcrumbs-v2-in">
      <h1>CONTACT US</h1>
    </div>  
  </div>  

  <!--=== Container ===-->
  <div class="container content">
    <div class="row margin-bottom-30">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 mb-margin-bottom-30">
        <div class="headline"><h2>Contact Form</h2></div>
        <div id="top_page_contact"></div>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key == :success ? "success" : "danger" %>" role="alert"><%= value %>
           <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
        <% end %>
        <p>Please fill out the form below to get in touch with us.</p><br>
        <form action="/contact_message" method="get" onSubmit="return validateContact()">
          <label>Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
          <br>
          <label>Email <span class="color-red">*</span></label>
          <input type="text" class="form-control" name="email" id="email" placeholder="Email">
          <br>
          <label>Message</label>
          <textarea rows="8" class="form-control" name="message" id="message" placeholder="Message"></textarea>
          <br>
          <p><button type="submit" class="btn-u pull-right">Send Message</button></p>
        </form>
      </div>
      <!--
      <div class="col-md-3">
        <div class="headline"><h2>Contacts</h2></div>
        <ul class="list-unstyled who margin-bottom-30">
          <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
          <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
        </ul>

        <div class="headline"><h2>Business Hours</h2></div>
        <ul class="list-unstyled margin-bottom-30">
          <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
          <li><strong>Saturday:</strong> 11am to 3pm</li>
          <li><strong>Sunday:</strong> Closed</li>
        </ul>

        <div class="headline"><h2>Why we are?</h2></div>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
          <li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
          <li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
        </ul>
      </div>
      -->
    </div><!--/row-->    
  </div>
  <!--=== End Container ===-->