<% provide(:title, 'F.A.Q.') %>
  <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
    <div class="breadcrumbs-v2-in">
      <h1>FREQUENTLY ASKED QUESTIONS</h1>
    </div>  
  </div>  

  <!--=== Container ===-->
  <div class="container content">    
    <div class="row">      
      <div class="col-md-8 col-md-offset-2">
        <!-- General Questions -->
        <div class="headline"><h2>General Questions</h2></div>
        <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  1. Are your professionals verified and licensed?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                Yes, all our professionals have a valid license to practice, either as a board certified lactation consultant (IBCLC) or as a certified massage therapist. We have personally spoken to all practitioners on our website and take a lot of care to make sure CareForMe is a safe place for all moms.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  2. Are appointments confirmed as soon as I book them?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Once you book an appointment, you will receive a confirmation within a few hours. We work very hard to make sure that you don’t experience any delays between booking and confirmation.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  3. What is your cancellation policy?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Right now, each practitioner has their own cancellation policy. Please check the policy section in your practitioner’s page for specific details.          
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  4. How do I pay for the service?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                At this moment, we are unable to provide online payments. Please pay either in cash or cheque according to your practitioner’s preference. We are working on incorporating online payments on our website as soon as possible.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  5. Do you accept insurance?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                Depending on the kind of service that you have requested, insurance may or may not cover it. Please confirm with your insurance company first. Most practitioners have insurance paperwork that you can fill out in order to file a claim with your insurance company.             
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  6. How much can I expect to pay for a session?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                Every practitioner charges a different rate and it will be listed on their page.
              </div>
            </div>
          </div>
        </div><!--/acc-v1-->
        <!-- End General Questions -->

      
        <!-- Other Questions -->
        <!--
        <div class="headline"><h2>Other Questions</h2></div>
        <div class="panel-group acc-v1" id="accordion-1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapse-One" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-responsive" src="assets/img/new/img5.jpg" alt="">
                  </div>
                  <div class="col-md-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                  Collapsible Group Item #2
                </a>
              </h4>
            </div>
            <div id="collapse-Two" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-8">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                    <ul class="list-unstyled">
                      <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                      <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                      <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <img class="img-responsive" src="assets/img/new/img5.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapse-Three" class="panel-collapse collapse">
              <div class="panel-body">
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                  Collapsible Group Item #4
                </a>
              </h4>
            </div>
            <div id="collapse-Four" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              </div>
            </div>
          </div>
        </div>-->
        <!--/acc-v1-->
        <!-- End Other Questions -->
      </div><!--/col-md-9-->
    </div><!--/row-->
  </div>
  <!--=== End Container ===-->