<% provide(:title, 'Partners') %>
  <!--=== Search Block ===-->
  <div class="search-block parallaxBg">
    <div class="container">
      <div class="col-md-12">
        <h1><b>Make your business public with Alaya Professional.
          <br/>Attract new clients and maintain existing clients with our easy booking and appointment scheduling system.
          <br />Leave the tech to us and focus on your business.</b></h1>
      </div>
    </div>  
  </div><!--/container-->   
  <!--=== End Search Block ===-->
  
  <!--=== Sign Up Block ===-->
  <form action="signup" method="get">
    <div class="purchase">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 fadeInLeft">
            <span>Get notified when we launch</span>
            <div class="input-group">
              <input name="email" type="text" class="form-control" placeholder="Enter your e-mail here" required>              
              <div class="input-group-btn">
                <button class="btn-u" type="submit">Sign Up</button>
              </div>       
            </div>
          </div>      
        </div>
      </div>
    </div>
  </form>
  <!-- Sign Up Block -->

  <!--=== Content ===-->
  <div class="container content">
    <!--Title Box-->    
    <div class="title-box col-sm-12 no-border">
      <div class="title-box-text">FEATURES</div>
    </div>
    <!-- End Ttitle Box -->  
    
    <!-- Promo Box -->  
    <div class="row">
      <div class="col-md-4">
        <div class="promo-box">
          <i class="fa fa-xlg fa-list-alt"></i>
          <strong>Profiles</strong>
          <p>
            Create your own profile page that you can share on social networks. It's as easy as making a facebook page. Add descriptions and pictures. Make it yours.
          </p>        
        </div>    
      </div>

      <div class="col-md-4">
        <div class="promo-box">
          <i class="fa fa-xlg  fa-credit-card"></i>
          <strong>Online Booking</strong>
          <p>Post your schedule and availability for customers to book your service.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="promo-box">    
          <i class="fa fa-xlg fa-calendar"></i>
          <strong>Manage Scheduling</strong>
          <p>Manage your appointments and notes for each client. You can ask clients specific questions and keep track of all your information at one place.</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="promo-box">
          <i class="fa fa-xlg fa-comments-o"></i>
          <strong>Promotion</strong>
          <p>
            Promote yourself through your page. Post deals, invite past customers to post reviews.
          </p>        
        </div>    
      </div>

      <div class="col-md-4">
        <div class="promo-box">
          <i class="fa fa-xlg fa-ticket"></i>
          <strong>Advertise</strong>
          <p>Improve your google ranking by making your profile page. Be available to thousands of potential customers.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="promo-box">    
          <i class="fa fa-xlg fa-child"></i>
          <strong>Activity</strong>
          <p>Manage all your clients in one space. Get the scoop on how many visits and hits your page recieves. Analytics and recommendations customized for you.</p>
        </div>
      </div>
    </div>
    <!-- End Promo Box -->
  </div>
