<% provide(:title, 'Profile List') %>
  <!--=== Profile ===-->
  <div class="profile container content">
    <div class="row">
      <div class="col-md-12">
        <!--Profile Body-->
        <div class="profile-body">
          <!--Projects-->
          <div class="row">
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <%= link_to kashika_jackson_path do %>
                    <img class="img-responsive" src="assets/img/profile_pic/kashika_jackson.jpg" alt="">
                  <% end %>
                </div>  
                <div class="projects">
                  <%= link_to kashika_jackson_path do %>
                    <h4>Kashika Jackson</h4>
                  <% end %>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Massage Therapist, DONA Certified Childbirth Doula</li>
                  </ul>
                  <p>Kashika is a Massage Therapist and Dona Certified Birth Doula and as an experienced Doula, Kashika has attended many births including non-
medicated natural, medicated natural, VBAC and cesareans births. She believes that labor and delivery should be as wonderful as it can be and Relaxing using Massage Therapy. Her goal for each birth is to help the experience be the best that it can be for the whole family and most especially the mother. </p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <%= link_to "View Profile", kashika_jackson_path, class: "btn-u-xs btn-u rounded-2x" %>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->
            
            <!-- Projects -->
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/profile_pic/peggy_hinkle.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Peggy Hinkle</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Lactation Consultant, Postpartum Doula</li>
                  </ul>
                  <p>Peggy Hinkle, is an International Board Certified Lactation Consultant (IBCLC, RLC) providing home visits, breastfeeding education and postpartum care. With a background as a Postpartum Doula, she provides nurturing encouragement to mothers and babies to support breastfeeding and mother-baby health in the postpartum period.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profiles/peggy_hinkle.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->
            
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Caroline Kerherve</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->
            
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Elaine O'Neill</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->
          </div>
          
          <hr>

          <div class="row margin-bottom-30">
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Ellen H. Schwerin</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->

            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Ronnie Falcao</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->
            
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Lisa Meyer-Jones</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Wendy Wright</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/main/15.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Jennifer Jeffcoat</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profile_detail.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>


            
            <div class="col-sm-3">
              <div class="tag-box-v3">
                <div class="easy-block-v1">
                  <img class="img-responsive" src="assets/img/profile_pic/serena_meyer.jpg" alt="">
                </div>  
                <div class="projects">
                  <h4>Serena Meyer</h4>
                  <ul class="list-unstyled list-inline blog-info-v2">
                    <li>Anne Street.5 Barrie Ontario, Canada</li>
                  </ul>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing. Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                  <ul class="list-inline star-vote">
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star"></i></li>
                    <li><i class="color-green fa fa-star-half-o"></i></li>
                    <li><i class="color-green fa fa-star-o"></i></li>
                  </ul>
                </div>  
                <div class="project-share">
                  <div class="col-lg-6 col-lg-offset-3">
                    <a href="profiles/serena_meyer.html" class="btn-u-xs btn-u rounded-2x">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Projects-->
          </div><!--/end row-->
        </div>
        <!--End Profile Body-->
      </div>
    </div><!--/end row-->
  </div><!--/container-->  
  <!--=== End Profile ===-->