.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload .upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.perfil-image {
	width: 100px !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

.schedule-free {
	cursor: pointer;
}

.schedule-blocked {
	cursor: pointer;
}

.schedule-blocked:hover {
	background-color: #5bc0de;
}

.schedule-blocked-appointment {
	background-color: #eb5046;
}