/* Add here all your css styles (customizations) */

body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    padding-left: 0px;
}

.navbar>.container .navbar-brand {
    font-size: 30px;
    font-weight: normal;
    color: #c0392b;
    font-weight: 800;
    padding: 10px 28px 24px 0px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 998px) and (min-width: 768px) {
    .navbar>.container .navbar-brand {
        padding-top: 5px;
    }
}

.search-block {
    margin-bottom: 0px;
}

.parallaxBg {
    padding: 170px 0;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
    background: url(../img/bg/banner.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.search-block h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
    text-transform: none;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* style.css custom */
.title-box p {
    font-size: 20px;
    font-weight: normal;
    color: #7f8c8d;
    line-height: 36px;
}

.footer {
    background: #585f69;
    padding: 20px 0 30px;
}

.footer h2,
.footer h3,
.footer h4 
.footer p {
    color: #FFFFFF;
}

.posts .dl-horizontal dd {
    margin-left: 0px;
}


.header .navbar-default .navbar-nav > li > a {
    color: #687074;
    font-weight: normal;
    font-weight: 250;
    letter-spacing: 1px;
    text-transform: none;
    border-bottom: none;
}

.header .navbar-default .navbar-nav > li > a:hover,
.header .navbar-default .navbar-nav > li > a:focus {
    z-index: 1;
    color: #e74c3c;
    border-bottom: none;
}

.header .navbar-default .navbar-nav > .active > a, 
.header .navbar-default .navbar-nav > .active > a:hover,
.header .navbar-default .navbar-nav > .active > a:focus {
    font-weight: normal;
    font-weight: 250;
    letter-spacing: 1px;
    text-transform: none;
    z-index: 1;
    color: #e74c3c;
    border-bottom: none;
}

.promo-box strong {
    font-weight: bold;
}

.title-box {
    padding-bottom: 10px;
}

.purchase {
    padding: 25px 0 30px;
    border-bottom: solid 1px #ddd;
    background: none;
    border-top: solid 1px #ddd;
    background-color: #eee;
}

/* app.css custom */
.content {
    border-bottom: solid 1px #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
}

.highlight {
    background: #fafafa;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;    
}

.headline {
    margin-right: 0px;
}

.projects h4 {
    margin-bottom: 0px;
}

.tag-box-v0 {
    border: solid 1px #eee;
}

/* Font Awesome Custom*/
.fa-xlg {
    font-size: 5em;
    color: #e74c3c;
}

/* profile.css custom */
.profile .projects {
    padding: 1px 10px 1px;
}

.profile .project-share {
    padding: 10px 10px;
}

@media (min-width: 1200px) {
    .profile .container {
        width: 900px;
    }
}

.profile .profile-body {
    padding: 20px;
}

/* page_faq1.css custom */
.faq-breadcrumb {
    text-align: center;
    position: relative;
    background: url(../img/bg/12.jpg) no-repeat center;
}

.contact-breadcrumb {
    text-align: center;
    position: relative;
    background: url(../img/bg/12.jpg) no-repeat center;
}

.no-border {
    border: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}